
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    height: 100px;
    width: 100rw;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.admin_content{
    padding-top: 50px;
    display: flex;
}

.admin_content-left{
    background-color: #ddd;
    width: 20%;
    height: 100vh;
    padding: 30px 0 0 12px;
}

.admin_content-left> ul> li> a {
    font-weight: bold;
}

.admin_content-left ul li {
    margin: 6px 0;
}

.admin_content-left ul ul{
    margin-left: 20px;
}

.admin_content-right{
    width: 80%;
    padding: 30px 0 0 12px;
}

.admin_content-right-category_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}

.admin_content-right-category_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #921;
    border: none;
    color: white;
}

.admin_content-right-category_add button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}



/* category_list */
.admin_content-right-category_list table{
    width:  100%;
    text-align: center;
    margin-top: 20px;
}

.admin_content-right-category_list table tr th,td{
    border: 1px solid #dddd;
}

table {
    border-collapse: collapse;
}


/* product */

.admin_content-right-product_add h1{
    margin-bottom: 20px;
}

.admin_content-right-product_add input,select{
    height: 30px;
    width:  200px;
    display: block;
    margin: 3px 0 10px 12px;
    padding-left: 12px;
}

.admin_content-right-product_add textarea{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 12px;
    padding: 12px;
}

.admin_content-right-product_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: #921;
    border: none;
    color: white;
}

.admin_content-right-product_add button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
}

/* Thong bao Popup  */
.tbpopup .tboverlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
    }
     
    .tbpopup .tbcontent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    max-width:500px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border-radius:20px;
    display: block;
    position: fixed;
    box-shadow:0px 0px 10px #111;
    }
    @media (max-width: 700px) {
    .tbpopup .tbcontent {width:90%;}
    }
     
    .tbpopup .tbclose-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:35px;
    height:35px;
    color:#ff4444;
    font-size:30px;
    font-weight:600;
    line-height:35px;
    text-align:center;
    border-radius:50%;
    }
     
    .tbpopup.active .tboverlay {
    display:block;
    }
     
    .tbpopup.active .tbcontent {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
    }
    .tbbuttom{background:#00cc00;color:#fff}